@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #070707;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
body.hoverflow {
  overflow: hidden;
}

a {
  color: #070707;
  text-decoration: none;
}

input, button, textarea {
  font-family: "Roboto", sans-serif;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

ul li {
  list-style-type: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

h2 {
  font-size: 47px;
  line-height: 55px;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 34px;
  line-height: 39.84px;
  font-weight: 700;
}

h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.burger {
  height: 20px;
  width: 33px;
  position: relative;
  display: none;
}
.burger span {
  position: absolute;
  width: 33px;
  height: 4px;
  background: #070707;
  top: 50%;
  transform: translateY(-50%);
}
.burger span::before, .burger span::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: #070707;
  transition: transform 0.2s linear;
}
.burger span::before {
  top: -8px;
}
.burger span::after {
  bottom: -8px;
}

.burger.active span {
  background-color: transparent;
}
.burger.active span::before {
  transform: rotate(45deg);
  transform-origin: center center;
  top: 8px;
}
.burger.active span::after {
  transform: rotate(-45deg);
  transform-origin: center center;
}

.btn {
  padding: 10px 30px;
  display: inline-flex;
  background: #070707;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  border-radius: 30px;
  box-shadow: 0px 4px 20px 0px rgba(141, 160, 255, 0.22);
}

*[data--language=ru].not-active, *[data--language=en].not-active {
  display: none;
}

#ru.active {
  color: #070707;
}

#en.active {
  color: #070707;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
}
.header.fixed .header__inner {
  border-bottom: none;
}
.header__inner {
  padding: 32px 0;
  border-bottom: 1px solid #828282;
}
.header__navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation ul a {
  font-weight: bold;
  color: #828282;
  transition: color 0.2s ease;
}
.header__navigation ul a:hover, .header__navigation ul a.active {
  color: #070707;
}
.header__language {
  display: none;
  align-items: center;
  transform: rotate(90deg);
  transform-origin: right bottom;
}
.header__language span {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #828282;
}
.header__ru {
  margin-right: 10px;
  position: relative;
}
.header__ru::after {
  content: "";
  display: block;
  position: absolute;
  height: 80%;
  width: 2px;
  background: #828282;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}

.home {
  margin-top: 80px;
}
.home__inner {
  padding: 40px 0 105px;
  display: flex;
  flex-direction: column;
}
.home__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
}
.home__name {
  width: 20%;
}
.home__special {
  width: 33%;
}
.home__language {
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  width: 0%;
}
.home__language span {
  font-weight: 700;
  font-size: 17px;
  line-height: 18.75px;
  cursor: pointer;
  color: #828282;
}
.home__ru {
  margin-right: 10px;
  position: relative;
}
.home__ru::after {
  content: "";
  display: block;
  position: absolute;
  height: 80%;
  width: 2px;
  background: #828282;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
}
.home img {
  display: block;
  width: 100%;
  height: auto;
}

.about {
  text-align: center;
  background: #f6f6f6;
}
.about__inner {
  padding: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  margin-bottom: 18px;
}
.about__text {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 25px;
  display: block;
}
.about__text:last-child {
  margin-bottom: 0;
}

.skills {
  text-align: center;
}
.skills__inner {
  padding: 91px 0 110px;
}
.skills__title {
  margin-bottom: 70px;
}
.skills__subtitle {
  margin-bottom: 84px;
}
.skills__skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
.skills__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24%;
  flex-wrap: wrap;
}
.skills__skill img {
  display: block;
  margin-bottom: 24px;
}
.skills__name {
  font-size: 14px;
  line-height: 16.41px;
  color: #828282;
  font-weight: bold;
  margin-bottom: 40px;
}
.skills__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills__stars img {
  display: block;
  margin-right: 9px;
}
.skills__stars img:last-child {
  margin-right: 0;
}

.portfolio {
  background-color: #f6f6f6;
  text-align: center;
}
.portfolio__inner {
  padding: 113px 0 96px;
}
.portfolio__title {
  margin-bottom: 47px;
}
.portfolio__works {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__work {
  margin-bottom: 99px;
}
.portfolio__work:last-child {
  margin-bottom: 0;
}
.portfolio__work img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 45px;
}
.portfolio__work a {
  display: inline-block;
  text-decoration: underline;
}

.footer {
  text-align: center;
}
.footer__inner {
  padding: 114px 0 123px;
}
.footer__title {
  margin-bottom: 20px;
}
.footer__subtitle {
  margin-bottom: 30px;
}
.footer__btn {
  margin-bottom: 85px;
}
.footer__social {
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
}
.footer__social a {
  display: block;
  margin-right: 60px;
}
.footer__social a:last-child {
  margin-right: 0;
}
.footer__social img {
  display: block;
}
.footer__like {
  color: #828282;
  font-size: 14px;
  line-height: 16.41px;
}

@media (max-width: 768px) {
  .skills__inner {
    padding-bottom: 18px;
  }
  .skills__skill {
    width: 49%;
    margin-bottom: 81px;
  }
}
@media (max-width: 426px) {
  .header__inner {
    display: none;
  }
  .header.fixed .burger {
    background-color: #fff;
    padding: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header.fixed .header__inner {
    padding: 68px 0;
  }
  .header.active {
    width: 100%;
    height: 100vh;
    background: #fff;
  }
  .header.active .header__inner {
    display: block;
    overflow-y: scroll;
  }
  .header__navigation ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__navigation ul a {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 30px;
    display: inline-block;
    cursor: none;
  }
  .header__navigation ul a:hover {
    color: #828282;
  }
  .header__navigation ul a:last-child {
    margin-bottom: 27px;
  }
  .header__inner {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 68px;
  }
  .header .burger {
    display: block;
    position: absolute;
    top: 68px;
    right: 40px;
  }
  .header__language {
    display: flex;
    position: absolute;
    bottom: 57px;
    right: 70px;
  }
  .home {
    padding-top: 0;
  }
  .home__inner {
    padding: 0 0 83px;
  }
  .home__language {
    display: none;
  }
  .home__language span {
    font-size: 34px;
    line-height: 40px;
  }
  .home__info {
    display: block;
    margin-bottom: 37px;
  }
  .home__name {
    width: 50%;
    margin-bottom: 23px;
  }
  .home__special {
    width: 100%;
  }
  .about__inner {
    padding: 81px 0 76px;
  }
  .about__text {
    max-width: 100%;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .skills__inner {
    padding: 83px 0 99px;
  }
  .skills__title {
    margin-bottom: 50px;
  }
  .skills__subtitle {
    margin-bottom: 71px;
  }
  .skills__skill {
    width: 100%;
    margin-bottom: 81px;
  }
  .skills__skill:last-child {
    margin-bottom: 0;
  }
  .portfolio__inner {
    padding: 81px 0;
  }
  .portfolio__title {
    margin-bottom: 65px;
  }
  .portfolio__work {
    margin-bottom: 78px;
  }
  .portfolio__work img {
    margin-bottom: 33px;
  }
  .footer__inner {
    padding: 82px 0 90px;
  }
  .footer__title {
    margin-bottom: 27px;
  }
  .footer__subtitle {
    margin-bottom: 40px;
  }
  .footer__btn {
    display: flex;
    margin-bottom: 48px;
  }
  .footer__social {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  .footer__social a {
    margin: 0;
  }
}
@media (max-height: 385px) {
  .header__navigation ul a {
    margin-bottom: 15px;
  }
  .header__navigation ul a:last-child {
    margin-bottom: 15px;
  }
}